pandas
numpy
psycopg2-binary
sentence-transformers
huggingface-hub
torch
python-dotenv
qdrant-client
fastapi
uvicorn
python-multipart
requests
unstructured
python-docx
openpyxl
python-pptx
pillow
pymupdf
pytesseract
langdetect
rarfile
markitdown[all]
